* {box-sizing:border-box}

body {
  background-color: #333333;
}

.banner{
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #85b0cc;
  font-size: 40px;
  color: white;
  height: 150px;
  border-bottom-style: solid;
  border-color: #b5656d;
  border-width: 5px
}
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#efb9c0;
}
.navi {
  float: left;

}

.naviLink {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 26px;
  text-decoration: none;
  font-size: 20px
}

.naviLink:hover:not(.active) {
  background-color: #111;
}

.active{
  background-color: #b5656d
}

.footer{
  list-style-type: none;
  margin: 0;
  padding: 0 200px;
  overflow: hidden;
  background-color: #85b0cc;
  clear: both;
}

.foot{
  float: left;
  padding: 30px 50px
}
.foot:last-child {
  float: right;
}

.socialLink{
  display: block;
  color: #FFF;
  text-align: center;
  padding: 20px 26px;
  text-decoration: none;
  font-size: 25px;
  border-style: solid;
  border-color: #b5656d;
  border-width: 5px
}

.socialLink:hover {
  background-color: #b5656d;
}

.intro {
  color: #000000;
  font-size: 25px;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
}

.aboutImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}


.show {
  color: #f2f2f2;
  font-size: 25px;
  padding: 8px 12px;
}

.submit{
  width: 15em;  
  height: 2em;

}

.comments{
  padding: 50px;
}

.direct{
  padding: 50px;
}


.cm{
  border-top-style: double;
  border-color: #b5656d;
  border-width: 5px;
  color: #f2f2f2;
  font-size: 25px;
  padding: 50px 12px;
}


/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: #ddd;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  width: 400px;
  height: 450px;
  float: left;
  border-color: black;
  border-style: solid;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.bfooter {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

.experience {
  display: none
}
/*
.hoverWork:hover + .experience {
  display:block;
}*/


.project {
  display: none
}

.showButton{
  background-color: #b5656d;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float:right;
}

.hint{
  color:white;
  padding: 20px 40px;
  font-size:20px;
  display: none
}

.show:hover + .hint{
  display:block;
}


/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  color: #fff;
  border-bottom: 2px dotted white; /* If you want dots under the hoverable text */
  font-size: 25px;
  padding: 8px 12px;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 350px;
  background-color: grey;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 20px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;  
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}